<section class="menu cid-s48OLK6784" once="menu" id="menu1-h">

  <nav class="navbar   navbar-fixed-top navbar-dropdown navbar-expand-lg">
    <div class="container">
      <div class="navbar-brand">
        <span class="navbar-logo">
          <a href="/">
            <img src="../views/assets/images/logo.png" alt="Mobirise" style="height: 3.8rem;">
          </a>
        </span>
        <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="/">ResumeScheme <i
              class="fas fa-code"></i> Admin Panel</a> </span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>

    </div>
  </nav>

</section>

<section class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">
  <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>
  <div class="align-center container" style=" position: absolute;
    margin: auto;
    top: 0;          
    padding: 20px;">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"> <small>AdminPanel</small></h1>

        <p class="mbr-text mbr-fonts-style display-7">A better way to track potential talent, better way to find work.
        </p>
        <%- include ('./partials/messages'); -%>
        <div class="mbr-section-btn mt-3"> <a class="btn btn-success display-4" href="/admin/query_suggestions"> <i
              class="fas fa-recycle"></i> Query Job Recommendations</a></div>
      </div>
    </div>
  </div>
</section>