<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload resumes</title>
</head>

<body>
    <h1>To Upload resume on mongoDB</h1>

    <hr>
    <div>
        <form action="/jobseekers/:jobSeekerID/download_resume" method="GET">
            <input type="submit" value="Download File" />
        </form>
    </div>

    <hr>


</body>

</html>