
<section class="menu cid-s48OLK6784" once="menu" id="menu1-h">

  <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
    <div class="container">
      <div class="navbar-brand">
        <span class="navbar-logo">
          <a href="/">
            <img src="../views/assets/images/logo.png" alt="Mobirise" style="height: 3.8rem;">
          </a>
        </span>
        <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7"
            href="/">ResumeScheme</a></span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
          <li class="nav-item"><a class="nav-link link text-black display-4" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link link text-black display-4" href="/login">
              Login</a></li>
          <li class="nav-item"><a class="nav-link link text-black display-4" href="/register">
              Register</a></li>
        </ul>

      </div>
    </div>
  </nav>

</section>
<section class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">
  <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>
  <div class=" container" style=" position: absolute;
  margin: auto;
  top: 0;          
  padding: 20px;">
    <div class="mbr-section-head">

      <div class="row mt-5">
        <div class="col-md-6 m-auto">

          <div class="row mt-5">
            <div class="col-md-6 m-auto">
              <div class="card card-body">
                <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Login</h1> <br>
                <%- include ('./partials/messages'); -%>
                <form action="/employer/login" method="POST">
                  <div class="form-group">
          
                    <input
                      type="email"
                      id="email"
                      name="email"
                      class="form-control"
                      placeholder="Enter Email"
                    />
                  </div>
                  <div class="form-group">
        
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"
                      placeholder="Enter Password"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                <p class="lead mt-4">
                  No Account? <a href="/register">Register</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="footer3 cid-s48P1Icc8J" once="footers" id="footer3-i">
  <div class="container">
    <div class="media-container-row align-center mbr-white">
      <div class="row row-links">
        <ul class="foot-menu">
          <li class="foot-menu-item mbr-fonts-style display-7"><a href="#" class="text-success">Help Center</a></li>
          <li class="foot-menu-item mbr-fonts-style display-7"><a href="#" class="text-success">FAQ</a></li>
          <li class="foot-menu-item mbr-fonts-style display-7"><a href="#" class="text-success">ResumeScheme.com</a>
          </li>
        </ul>
      </div>

      <div class="row row-copirayt">
        <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
          © Copyright 2020 ResumeScheme, Inc. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #fff; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; 
  color:#aaa; font-size:12px; padding: 0; 
  align-items: center; display: flex;">
  <a href="https://mobirise.site/p" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a>
</section>