<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <form action="/users/register" method="POST">
        <p class="lead"><a class="" href="/jobseeker/login">Jobseeker login</a><hr></p>
        <p class="lead" ><a href="/employer/login">Employer login</a></p>
      </form>
      <p class="lead mt-4">No Account? <a href="/register">Register</a></p>
    </div>
  </div>
</div>
