<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <form action="/users/register" method="POST">
        <p class="lead"><a class="" href="/jobseekers/register">Looking for Work</a><hr></p>
        <p class="lead" ><a href="/employers/register">Looking to Hire</a></p>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>