<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.fullname %></p>
<nav class="navbar navbar-dark " style="text-align: left">
    <form class="form-inline" >
      <button class="btn btn-outline-success" type="button">Submit Resume</button>
      <button class="btn btn-outline-success" type="button">See Jobs</button>
      <a class="btn btn-outline-danger" href="/users/logout" role="button">Logout</a>
    </form>
  </nav>

